### Gradle
.gradle/
build/

## Proguard
unused.txt

### Android
local.properties
keystore.properties

# IntelliJ
*.iml
.idea/assetWizardSettings.xml
.idea/caches
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/dictionaries
.idea/gradle.xml
.idea/kotlinc.xml
.idea/libraries
.idea/migrations.xml
.idea/misc.xml
.idea/other.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/**/shelf

### Windows
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### OSX
.DS_Store