<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8" />
    <title>WP Display</title>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="angular.min.js"></script>
    <script src="moment-with-langs.min.js"></script>
    <script src="tcp-client.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="main.css">
    
  </head>
  <body ng-controller="HeatingDisplayControl">
    <div class="container-fluid">

      <!-- controls -->
      <div id="controls-top" class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default" ng-click="toggleConnection()" ng-model="btnConnect">{{textBtnConnect}}</button>
          <button type="button" class="btn btn-default" ng-click="toggleSettings()">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
          <span class="label label-primary">{{textRequestStatus}}</span>
        </div>
      </div>
      
      <p></p>

      <div class="row">
        <div class="col-sm-6">
          <em><div>{{textStatus}}</div></em>
        </div>
      </div>

      <div id="settings" ng-show="isShowingSettings">
        <div>
          <h4>{{strTitleSettings}}</h4>
            <div class="row">
              <div class="col-xs-12">
                <label for="host">{{strLabelHost}}</label>
                <input type="text" ng-model="host" ng-change="saveSettings()">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label for="port">{{strLabelPort}}</label>
                <input type="number" id="port" ng-model="port" ng-change="saveSettings()">
              </div>
            </div>
        </div>
        <div>
          <h4>{{strTitleAbout}}</h4>
          <p>{{strAppDescription}}</p>
        </div>
      </div>

      <p></p>

      <!-- Temperatures -->
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-6">
              <b>{{strLabelTempOutgoing}}</b><br/>
              <span class="temp-value">{{tempOutgoing}}</span> °C
            </div>
            <div class="col-xs-6">
              <b>{{strLabelTempReturn}}</b><br/>
              <span class="temp-value">{{tempReturn}}</span> °C
            </div>
          </div>  
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-6">
              <b>{{strLabelTempOutdoors}}</b><br/>
              <span class="temp-value">{{tempOutdoors}}</span> °C
            </div>
            <div class="col-xs-6">
              <b>{{strLabelTempReturnShould}}</b><br/>
              <span class="temp-value">{{tempReturnShould}}</span> °C
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-6">
              <b>{{strLabelTempWater}}</b><br/>
              <span class="temp-value">{{tempWater}}</span> °C
            </div>
            <div class="col-xs-6">
              <b>{{strLabelTempWaterShould}}</b><br/>
              <span class="temp-value">{{tempWaterShould}}</span> °C
            </div>
          </div>  
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-6">
              <b>{{strLabelTempSourceIn}}</b><br/>
              <span class="temp-value">{{tempSourceIn}}</span> °C
            </div>
            <div class="col-xs-6">
              <b>{{strLabelTempSourceOut}}</b><br/>
              <span class="temp-value">{{tempSourceOut}}</span> °C
            </div>
          </div>  
        </div>
      </div>

      <!-- Time values -->
      <div class="row">
        <div class="col-sm-3">
          <b>{{strLabelTimeReceived}}</b><br/>
          {{timeReceived}}<br/>
          <br/>
          <b>{{strLabelTimePumpActive}}</b><br/>
          {{timePumpActive}}<br/>
          <br/>
          <b>{{strLabelTimeCompressorNoop}}</b><br/>
          {{timeCompressorNoop}}<br/>
          <br/>
          <b>{{strLabelTimeRest}}</b><br/>
          {{timeRest}}<br/>
          <br/>
        </div>
        <div class="col-sm-6">
          <b>{{strLabelTimeReturnLower}}</b><br/>
          {{timeReturnLower}}<br/>
          <br/>
          <b>{{strLabelTimeReturnHigher}}</b><br/>
          {{timeReturnHigher}}<br/>
          <br/>
        </div>
      </div>

    </div><!-- container -->

  </body>
</html>
